<section class="w-100 px-4 py-5" >
    <div class="row d-flex justify-content-center">
        <div class="col col-md-9 ">
            <div class="card rounded-5" >
                <div class="card-body p-4">
                    <div class="d-flex">
                        <div class="">
                   {#         <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                 alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">#}
                            {% if not app.user.image %}
                                <img src="{{ asset('images/default/default.jpg') }}"
                                     class="img-fluid profil-img rounded-2 " alt="User image"
                                >
                            {% else %}
                                <img src="{{ asset('/images/avatar/' ~ app.user.image) }}"
                                     class="profil-img rounded-2 m-2" alt="User image"
                                >
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1">{{ app.user.firstName|capitalize }} {{ app.user.lastName|capitalize }}</h5>
                            <p class="mb-2 pb-1">Senior Journalist</p>
                                  <div class="d-flex pt-1">
                                      <a href="{{ path('app_user_edituser',{'id':app.user.id} ) }}"  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary  me-1 flex-grow-1">Edit
                                         </a>
                                      <a href="{{ path('app_user_editpassword',{'id':app.user.id} ) }}"  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary   flex-grow-1">Pass
                                          </a>

                            </div>
                            <div class="d-flex pt-1">
                                <a href="{{ path('app_home') }}" type="button"  class="text-decoration-none btn btn-primary me-1 flex-grow-1" >                               Home</a>

                                <a href="{{ path('app_logout') }}" type="button" class="text-decoration-none btn btn-primary flex-grow-1">                               Logout
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>