{% extends 'admin/base.html.twig' %}

{% block title %}Admin : Commentaire{% endblock %}

{% block body %}

    <div class="col bg-dark m-2 rounded-2">

        <h2 class="">Gestion des commentaires</h2>
        <a href="{{ path('app_admin_newcourse') }}" class="btn btn-outline-light">Ajouter un cours</a>
        <table class="table table-hover my-2 ">
            <thead>
            <tr>
                <th>Image</th>
                <th{% if comments.isSorted('Cours') %} class="sorted" {% endif %}>
                    {{ knp_pagination_sortable(comments, 'Cours', 'course.name') }}
                </th>
                <th{% if comments.isSorted('Utilisateur') %} class="sorted" {% endif %}>
                    {{ knp_pagination_sortable(comments, 'Utilisateur', 'user.email') }}
                </th>
                <th{% if comments.isSorted('Dare de publication') %} class="sorted" {% endif %}>
                    {{ knp_pagination_sortable(comments, 'Date de publication', 'createdAt') }}
                <th>Contenu</th>

                <th class="">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td><img class="ico" src="{{ asset('images/courses/' ~ comment.course.image) }}"
                             alt="Card image cap"></td>
                    <td>{{ comment.course.name }}</td>
                    <td>{{ comment.user.email }}</td>
                    <td>{{ comment.createdAt|date('d/m/Y') }}</td>
                    <td>{{ comment.content|capitalize|u.truncate(20, '...', false) }}</td>

                    <td>


                        {% if (comment.isPublished and not (comment.isModarated)) %}
                            <a href="viewcomment/{{ comment.id }}"><i class="icofont-eye text-success"></i> </a>
                            <i class="icofont-megaphone text-light"></i>
                        {% elseif (not (comment.isPublished) and not (comment.isModarated)) %}
                            <i class="icofont-eye-blocked text-light"></i>
                            <i class="icofont-megaphone text-light"></i>
                        {% elseif (not (comment.isPublished) and  (comment.isModarated)) %}
                            <i class="icofont-eye-blocked text-light"></i>
                            <a href="viewcomment/{{ comment.id }}"><i class="icofont-megaphone text-sucess"></i></a>
                        {% endif %}

                    </td>


                    <td>
                        {#  <a href="delcourse/{{ course.id }}"><i class="icofont-trash"></i></a>
                        <a href="editcourse/{{ course.id }}" class="mx-2"><i class="icofont-edit-alt"></i></a>

                        <a href="viewcourse/{{ course.id }}">

                            {% if (course.isPublished) %}
                                <i class="icofont-eye text-success"></i>
                            {% else %}
                                <i class="icofont-eye-blocked text-danger"></i>
                            {% endif %}
                        </a>
                        <a href="{{ path('app_admin_newcourse') }}" class="mx-2"><i class="icofont-plus"></i></a> #}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="mt-2 ">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>




{% endblock %}
