{% extends 'admin/base.html.twig' %}
  {% block javascripts %}
      {#  <script src="{{ asset('js/ckeditor/ckeditor5.js') }}"></script>
      <script src="{{ asset('js/ckeditor-init.js') }}"></script>#}
      {% block importmap %}{{ importmap(['app' , 'ckeditor-init']) }}{% endblock %}
  {% endblock %}
{% block title %}Nouvel news{% endblock %}
{% block body %}
    <section class="col-md-6">
        <div class="row">
            <h2 class="col-10">Ajoutez une New</h2>
            <div class="col">
                <a href="{{ path('app_admin_actus') }}" class="btn btn-outline-dark">Retour</a>
            </div>
        </div>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.family) }}
  {#      <p>And your content</p>
        <div id="editor" class="my_editor" >
        </div>#}
        {{ form_end(form) }}


    </section>
{% endblock %}