{% extends 'admin/base.html.twig' %}

{% block title %}Admin Courses{% endblock %}

{% block body %}
    <div class="col  m-2 rounded-2 p-3">
        <div class="d-flex justify-content-between">
            <h2 class="">Gestion des utilisateurs</h2>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('app_admin_team') }}" class="btn btn-secondary">Afficher la team</a>
            {% endif %}</div>


        <table class="table table-hover my-2 ">
            <thead>
            <tr>
                <th{% if users.isSorted('Nom') %} class="sorted" {% endif %}>
                    {{ knp_pagination_sortable(users, 'Nom', 'lastName') }}
                </th>
                <th{% if users.isSorted('Prénom') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Prénom', 'firstName') }}
                </th>
                <th{% if users.isSorted('email') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Email', 'email') }}
                </th>


                <th{% if users.isSorted('Active') %} class="sorted" {% endif %}>
                    {{ knp_pagination_sortable(users, 'Role', 'Role') }}
                </th>

                <th{% if users.isSorted('Active') %} class="sorted" {% endif %}>
                    {{ knp_pagination_sortable(users, 'Active', 'isDisabled') }}
                </th>
                {#    <th class="">Action</th> #}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ', ' and ') }}</td>


                    <td>
                        {% if not user.isDisabled %}

                            <a href="disable/{{ user.id }}" class="text-decoration-none"><i
                                        class="icofont-toggle-off text-danger me-2 "></i></a>
                            <i class="icofont-user text-success me-2 text-decoration-none"></i><a
                                href="promuser/{{ user.id }}" class="text-decoration-none"><i
                                    class="me-2 icofont-magic text-success text-decoration-none"></i></a>
                            <a href="{{ path('app_admin_mail_user', {id:user.id}) }}" class="text-decoration-none"><i
                                        class="icofont-ui-email me-2 text-success text-decoration-none"></i></a>
                        {% else %}
                            <a href="delete/{{ user.id }}" class="text-decoration-none"><i
                                        class="icofont-trash text-danger me-2 text-decoration-none"></i></a>
                            <i class="icofont-user text-danger me-2 text-decoration-none"></i><a
                                href="disable/{{ user.id }}" class="text-decoration-none"><i
                                    class="icofont-plus text-success me-2 text-decoration-none"></i></a>

                        {% endif %}


                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <div class="mt-2 ">
                {{ knp_pagination_render(users) }}
            </div>
            <div>
                <a href="{{ path('app_register') }}" class="btn btn-warning">Ajouter un nouvel utilisateur</a>
            </div>
        </div>
    </div>


{% endblock %}