{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}
{% block header %}
    {% include 'banners/_banner_home.html.twig' %}
{% endblock %}
{% block content %}
    {{ parent() }}
    <section id="actu-content" class="bg-primary py-5">
        <h2 class="text-center h1 ">{{ actu.name|title }}</h2>
        <!-- Modal -->
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-sm-12  col-lg-6 my-3">


                    <img class="card-img rounded-3" src="{{ asset('images/actus/' ~ actu.image) }}"
                         alt="Card image cap">


                </div>
            </div>
            {#    <div class="col">{{ actu.content|raw }}</div> #}
        </div>



        <div class="container  text-star my-3">
            {{ actu.content|raw }}
        </div>

    </section>




{% endblock %}
